.contenedorConductor, .contenedorCliente {
    width: 70%;
    margin: auto;
    border-radius: 30px;
}

.contenedorCliente {
    width: 50%;
}

.conductor {
    display: flex;
    width: 100%;
}

.personal, .vehiculo {
    width: 45%;
    margin: auto;
    margin-top: 10px;
    font-size: 16px;
    color: black;
}

.separacion {
    border-left: 1px solid rgba(96, 100, 112, 0.411);
}

.titulo {
    font-size: 30px;
    color: rgb(0, 146, 202);
    text-align: center;
    margin-top: 50px;
}

.espacio {
    height: 50px;
}

.imagen {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cliente {
    width: 90%;
    margin: auto;
}

.campo {
    display: flex;
    font-size: 16px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.568);
    height: 40px;
}

.campo label {
    width: 40%;
    margin: auto;
}

.fila {
    font-weight: bold;
}