<app-seccion-titulo titulo="Perfil"></app-seccion-titulo>
<br>
<div class="espacio"></div>
<mat-card class="contenedorConductor" *ngIf="tipoUsuario=='co'">
    <mat-card-content>
        <div class="conductor">
            <div class="personal">
                <div class="titulo">
                    <span>Informacion personal</span><br>
                </div>
                <div class="imagen">
                    <img src="assets\images\perfil.png" alt="">
                </div>
                <div class="campo">
                    <label class="fila">Nombre:</label>
                    <label>{{conductor.nombre}}</label>
                </div>
                <div class="campo">
                    <label class="fila">Apellido:</label>
                    <label>{{conductor.apellido}}</label>
                </div>
                <div class="campo">
                    <label class="fila">DNI:</label>
                    <label>{{conductor.dni}}</label>
                </div>
                <div class="campo">
                    <label class="fila">Correo electronico:</label>
                    <label>{{conductor.email}}</label>
                </div>
                <div class="campo">
                    <label class="fila">Ciudad residencia:</label>
                    <label>{{conductor.ciudad}}</label>
                </div>
                <div class="campo">
                    <label class="fila">Genero:</label>
                    <label>{{conductor.genero}}</label>
                </div>
            </div>
            <div class="separacion"></div>
            <div class="vehiculo">
                <div class="titulo">
                    <span>Informacion personal</span><br>
                </div>
                <div class="imagen">
                    <img src="assets\images\carro.jpg" alt="">
                </div>
                <div class="campo">
                    <label class="fila">Placa del vehiculo:</label>
                    <label>{{conductor.vehiculo.placa}}</label>
                </div>
                <div class="campo">
                    <label class="fila">Capacidad:</label>
                    <label>{{conductor.vehiculo.capacidad}}</label>
                </div>
                <div class="campo">
                    <label class="fila">Color del vehiculo:</label>
                    <label>{{conductor.vehiculo.color}}</label>
                </div>
                <div class="campo">
                    <label class="fila">Tipo de vehiculo:</label>
                    <label>{{conductor.vehiculo.tipoVehiculo}}</label>
                </div>
                <!--<div>
                    <input type="file" id="file" (change)="onFileSelected($event)" #fileUpload>
                </div>-->
                <br><br><br>
                <div class="boton">
                    <button class="aceptar">Modificar</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>

<mat-card class="contenedorCliente" *ngIf="tipoUsuario=='cl'">
    <mat-card-content>
        <div class="cliente">
            <div class="titulo">
                <span>Informacion personal</span><br>
            </div>
            <div class="imagen">
                <img src="assets\images\perfil.png" alt="">
            </div>
            <div class="campo">
                <label class="fila">Nombre:</label>
                <label>{{cliente.nombre}}</label>
            </div>
            <div class="campo">
                <label class="fila">Apellido:</label>
                <label>{{cliente.apellido}}</label>
            </div>
            <div class="campo">
                <label class="fila">DNI:</label>
                <label>{{cliente.dni}}</label>
            </div>
            <div class="campo">
                <label class="fila">Correo electronico:</label>
                <label>{{cliente.email}}</label>
            </div>
            <div class="campo">
                <label class="fila">Ciudad residencia:</label>
                <label>{{cliente.ciudad}}</label>
            </div>
            <div class="campo">
                <label class="fila">Genero:</label>
                <label>{{cliente.genero}}</label>
            </div><br><br><br>
            <div class="boton">
                <button class="aceptar">Modificar</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>