<app-seccion-titulo titulo="Inicio"></app-seccion-titulo>

<div class="contenedor" *ngIf="cliente==true">
    <div class="crearServicio">
        <div class="formulario">
            <br>
            <div class="titulo2">
                <span>Publicar servicio</span>
            </div>
            <app-servicio-form></app-servicio-form>
        </div>
    </div>
    <div class="listaServicio">
        <div class="titulo">
            <Span>Servicios publicados</Span>
        </div>
        <div class="servicio">
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                <mat-card class="servicio-card" *cdkVirtualFor="let servicioC of serviciosCliente">
                    <mat-card-header>
                        <mat-card-title>{{servicioC.nombreCliente}} {{servicioC.apellidoCliente}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="contenido">
                            <div class="datos">
                                <div class="valor">
                                    <label class="fila">Mercania:</label>
                                    <label>{{servicioC.nombreMercancia}}</label>
                                </div>
                                <div class="valor">
                                    <label class="fila">Tipo de mercancia:</label>
                                    <label>{{servicioC.tipoMercancia}}</label>
                                </div>
                                <div class="valor">
                                    <label class="fila">Fecha:</label>
                                    <label>{{servicioC.fechaServicio}}</label>
                                </div>
                            </div>
                            <div class="direccion">
                                <div class="valor">
                                    <label class="fila">Direccion origen:</label>
                                    <label>{{servicioC.direccionOrigen}}</label>
                                </div>
                                <div class="valor">
                                    <label class="fila">Direccion destino:</label>
                                    <label>{{servicioC.direccionDestino}}</label>
                                </div>
                                <div class="valor">
                                    <label class="fila">Ciudad:</label>
                                    <label>{{servicioC.ciudadServicio}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="bAcep">
                            <button class="aceptar">Modificar</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>

<div class="contenedor" *ngIf="cliente==false">
    <div class="servicioPublicado">
        <div class="titulo3">
            <span>Servicios publicados</span>
        </div>
        <div class="publicados">
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                <mat-card class="servicio-card" *cdkVirtualFor="let servicioP of serviciosPublicados">
                    <mat-card-header>
                        <mat-card-title>{{servicioP.nombreCliente}} {{servicioP.apellidoCliente}} - {{servicioP.nombreMercancia}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="contenido">
                            <div class="datos">
                                <div class="valor">
                                    <label class="fila">Tipo de mercancia:</label>
                                    <label>{{servicioP.tipoMercancia}}</label>
                                </div>
                                <div class="valor">
                                    <label class="fila">Fecha:</label>
                                    <label>{{servicioP.fechaServicio}}</label>
                                </div>
                                <div class="valor">
                                    <label class="fila">Email:</label>
                                    <label>{{servicioP.emailCliente}}</label>
                                </div>
                            </div>
                            <div class="direccion">
                                <div class="valor">
                                    <label class="fila">Direccion origen:</label>
                                    <label>{{servicioP.direccionOrigen}}</label>
                                </div>
                                <div class="valor">
                                    <label class="fila">Direccion destino:</label>
                                    <label>{{servicioP.direccionDestino}}</label>
                                </div>
                                <div class="valor">
                                    <label class="fila">Ciudad:</label>
                                    <label>{{servicioP.ciudadServicio}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="bAcep">
                            <button class="aceptar">Aceptar</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
    <div class="imagen">
        <div class="espacio"></div>
        <div class="side">
            <img src="assets\images\side.jpg" alt="">
        </div>
    </div>
</div>