<app-seccion-titulo titulo="Inicio"></app-seccion-titulo>

<div class="contenedor" *ngIf="cliente==true">
    <div class="crearServicio">
        <div class="espacio"></div>
        <div class="formulario">
            <br>
            <div class="titulo2">
                <span>Publicar servicio</span>
            </div>
            <form [formGroup]="servicioForm" novalidate (ngSubmit)="onSubmit(servicioForm.value)">
                <!--Nombre de la mercancia-->
                <div class="error"
                    *ngIf="servicioForm.controls['nombreM'].invalid && (servicioForm.controls['nombreM'].touched || servicioForm.controls['nombreM'].dirty)">
                    <mat-error *ngIf="servicioForm.controls['nombreM'].hasError('required')">
                        * Nombre de la mercancia es requerido
                    </mat-error>
                </div>
                <div class="campo">
                    <span>Nombre de la mercancia</span><br>
                    <input type="text" formControlName="nombreM" autocomplete="off">
                </div>
                <!--Peso de la mercancia-->
                <div class="error"
                    *ngIf="servicioForm.controls['peso'].invalid && (servicioForm.controls['peso'].touched || servicioForm.controls['peso'].dirty)">
                    <mat-error *ngIf="servicioForm.controls['peso'].hasError('required')">
                        * Peso de la mercancia es requerido
                    </mat-error>
                </div>
                <div class="campo">
                    <span>Peso en kg (aproximado)</span><br>
                    <input type="number" formControlName="peso" autocomplete="off">
                </div>
                <!--Tipo de mercancia-->
                <div class="error"
                    *ngIf="servicioForm.controls['tipo'] && (servicioForm.controls['tipo'].touched || servicioForm.controls['tipo'].dirty)">
                    <mat-error *ngIf="servicioForm.controls['tipo'].hasError('required')">
                        * Tipo de mercancia es requerido
                    </mat-error>
                </div>
                <div class="campo">
                    <span>Tipo de mercancia</span><br>
                    <mat-select placeholder="Tipo de mercancia" formControlName="tipo">
                        <mat-option *ngFor="let tipoM of tipoMercancia" [value]="tipoM.abbreviation">
                            {{ tipoM.name }}
                        </mat-option>
                    </mat-select>
                </div>
                <!--Direccion origen-->
                <div class="error"
                    *ngIf="servicioForm.controls['origen'].invalid && (servicioForm.controls['origen'].touched || servicioForm.controls['origen'].dirty)">
                    <mat-error *ngIf="servicioForm.controls['origen'].hasError('required')">
                        * Direccion de origen es requerido
                    </mat-error>
                </div>
                <div class="campo">
                    <span>Direccion de origen</span><br>
                    <input type="text" formControlName="origen" autocomplete="off">
                </div>
                <!--Direccion destino-->
                <div class="error"
                    *ngIf="servicioForm.controls['destino'].invalid && (servicioForm.controls['destino'].touched || servicioForm.controls['destino'].dirty)">
                    <mat-error *ngIf="servicioForm.controls['destino'].hasError('required')">
                        * Direccion de destino es requerido
                    </mat-error>
                </div>
                <div class="campo">
                    <span>Direccion de destino</span><br>
                    <input type="text" formControlName="destino" autocomplete="off">
                </div>
                <!--Fecha y hora-->
                <div class="error"
                    *ngIf="servicioForm.controls['fecha'].invalid && (servicioForm.controls['fecha'].touched || servicioForm.controls['fecha'].dirty)">
                    <mat-error *ngIf="servicioForm.controls['fecha'].hasError('required')">
                        * Fecha es requerido
                    </mat-error>
                </div>
                <div class="campo">
                    <span>Fecha</span><br>
                    <input type="date" formControlName="fecha" autocomplete="off">
                </div>
                <!--Boton-->
                <div class="boton">
                    <button>Publicar</button><br>
                </div>
                <br>
            </form>
        </div>
        <div class="espacio"></div>
    </div>
    <div class="listaServicio">
        <div class="titulo">
            <Span>Servicios publicados</Span>
        </div>
        <div class="servicio">
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                <mat-card class="servicio-card" *cdkVirtualFor="let servicioC of serviciosCliente">
                    <mat-card-header>
                        <mat-card-title>{{nombre}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="contenido">
                            <div class="datos">
                                <span><strong>Mercancia:</strong></span><br>
                                <span><strong>Tipo de mercancia:</strong></span><br>
                                <span><strong>Fecha:</strong></span><br>
                                <span><strong>Hora:</strong></span><br>
                            </div>
                            <div class="direccion">
                                <span><strong>Direccion origen:</strong></span><br>
                                <span><strong>Direccion destino:</strong></span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>

<div class="contenedor" *ngIf="cliente==false">
    <div class="servicioPublicado">
        <div class="titulo3">
            <span>Servicios publicados</span>
        </div>
        <div class="publicados">
            <mat-card class="servicioP-card">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="imagen">
        <div class="espacio2"></div>
        <div class="side">
            <img src="assets\images\side.jpg" alt="">
        </div>
        <div class="espacio2"></div>
    </div>
</div>