.example-viewport {
    height: 500px;
    width: 100%;
}

.historialConduc {
    width: 60%;
    margin: auto;
}

.historial {
    width: 95%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.267);
    margin-bottom: 15px;
}

.mat-card-title {
    color: rgb(0, 146, 202);
    font-size: 20px;
}

.campo {
    display: flex;
    font-size: 14px;
    height: 20px;
}

.campo label {
    width: 40%;
    margin: auto;
}

.fila {
    font-weight: bold;
    margin-left: 20px;
}