.mat-elevation-z8 {
    width: 100%;
    margin: auto;
}

.mat-form-field, .mat-table {
    width: 100%;
}

.mat-card {
    width: 95%;
    margin: auto;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
}

button {
    background-color: rgb(147, 222, 255);
    color: rgb(34, 40, 49);
    border-radius: 50px;
    width: 30%;
}

.boton {
    text-align: center;
}

.opcion {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}