<form [formGroup]="servicioForm" novalidate (ngSubmit)="onSubmit(servicioForm.value)">
    <!--Id de la mercancia-->
    <div class="error"
        *ngIf="servicioForm.controls['id'].invalid && (servicioForm.controls['id'].touched || servicioForm.controls['id'].dirty)">
        <mat-error *ngIf="servicioForm.controls['id'].hasError('required')">
            * Id de la mercancia es requerido
        </mat-error>
    </div>
    <div class="campo">
        <span>Id de la mercancia</span><br>
        <input type="number" formControlName="id" autocomplete="off">
    </div>
    <!--Nombre de la mercancia-->
    <div class="error"
        *ngIf="servicioForm.controls['nombreM'].invalid && (servicioForm.controls['nombreM'].touched || servicioForm.controls['nombreM'].dirty)">
        <mat-error *ngIf="servicioForm.controls['nombreM'].hasError('required')">
            * Nombre de la mercancia es requerido
        </mat-error>
    </div>
    <div class="campo">
        <span>Nombre de la mercancia</span><br>
        <input type="text" formControlName="nombreM" autocomplete="off">
    </div>
    <!--Peso de la mercancia-->
    <div class="error"
        *ngIf="servicioForm.controls['peso'].invalid && (servicioForm.controls['peso'].touched || servicioForm.controls['peso'].dirty)">
        <mat-error *ngIf="servicioForm.controls['peso'].hasError('required')">
            * Peso de la mercancia es requerido
        </mat-error>
    </div>
    <div class="campo">
        <span>Peso en kg (aproximado)</span><br>
        <input type="text" formControlName="peso" autocomplete="off">
    </div>
    <!--Tipo de mercancia-->
    <div class="error"
        *ngIf="servicioForm.controls['tipo'] && (servicioForm.controls['tipo'].touched || servicioForm.controls['tipo'].dirty)">
        <mat-error *ngIf="servicioForm.controls['tipo'].hasError('required')">
            * Tipo de mercancia es requerido
        </mat-error>
    </div>
    <div class="campo">
        <span>Tipo de mercancia</span><br>
        <mat-select placeholder="Tipo de mercancia" formControlName="tipo">
            <mat-option *ngFor="let tipoM of tipoMercancia" [value]="tipoM.abbreviation">
                {{ tipoM.name }}
            </mat-option>
        </mat-select>
    </div>
    <!--Direccion origen-->
    <div class="error"
        *ngIf="servicioForm.controls['origen'].invalid && (servicioForm.controls['origen'].touched || servicioForm.controls['origen'].dirty)">
        <mat-error *ngIf="servicioForm.controls['origen'].hasError('required')">
            * Direccion de origen es requerido
        </mat-error>
    </div>
    <div class="campo">
        <span>Direccion de origen</span><br>
        <input type="text" formControlName="origen" autocomplete="off">
    </div>
    <!--Direccion destino-->
    <div class="error"
        *ngIf="servicioForm.controls['destino'].invalid && (servicioForm.controls['destino'].touched || servicioForm.controls['destino'].dirty)">
        <mat-error *ngIf="servicioForm.controls['destino'].hasError('required')">
            * Direccion de destino es requerido
        </mat-error>
    </div>
    <div class="campo">
        <span>Direccion de destino</span><br>
        <input type="text" formControlName="destino" autocomplete="off">
    </div>
    <!--Fecha y hora-->
    <div class="error"
        *ngIf="servicioForm.controls['fecha'].invalid && (servicioForm.controls['fecha'].touched || servicioForm.controls['fecha'].dirty)">
        <mat-error *ngIf="servicioForm.controls['fecha'].hasError('required')">
            * Fecha es requerido
        </mat-error>
    </div>
    <div class="campo">
        <span>Fecha</span><br>
        <input type="date" formControlName="fecha" autocomplete="off">
    </div>
    <!--Boton-->
    <div class="boton">
        <button>Publicar</button><br>
    </div>
    <br>
</form>