<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-toolbar-row>
        <img class="img-responsive" src="assets/images/perfil.png" height="100" width="100">
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span>{{nombre}}</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <hr>
      </mat-toolbar-row>

    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/Inicio">Inicio</a>
      <a mat-list-item href="/Perfil">Perfil</a>
      <a mat-list-item href="/Calificacion">Calificacion</a>
      <a mat-list-item href="/Historial">Historial</a>
      <a mat-list-item href="/Servicios">Servicios</a>
      <a mat-list-item href="/Dashboard">Dashboard</a>
      <a mat-list-item href="/Trasnflash">Pagina inicio</a>
      <a mat-list-item href="/SignupCliente">Registro cliente</a>
      <a mat-list-item href="/SignupConductor">Registro Conductor</a>
      <a mat-list-item href="/LogIn">Log In</a>
      <a mat-list-item href="/ListaCliente">Cliente</a>
      <a mat-list-item href="/ListaConductor">Conductor</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="titulo">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <!--*ngIf="isHandset$ | async"-->
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>TransFlash</span>
      </div>
      <div class="botones">
        <button class="salida"><img src="assets\images\cerrar-sesion.png" height="20" width="20"></button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>