<app-seccion-titulo titulo="Cliente"></app-seccion-titulo>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre(s) y apellido(s)</th>
        <th scope="col">DNI</th>
        <th scope="col">Estado</th>
        <th scope="col">Correo electronico</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Genero</th>
      </tr>
    </thead>
    <tbody *ngFor="let cliente of clientes; let item=index"> 
      <tr>
        <th scope="row">{{item+1}}</th>
        <td>{{cliente.nombreCliente+' '+cliente.apellidoCliente}}</td>
        <td>{{cliente.idCliente}}</td>
        <td>{{cliente.estadoCliente}}</td>
        <td>{{cliente.emailCliente}}</td>
        <td *ngIf="cliente.ciudadClienteFk==1">Bogota</td>  
        <td *ngIf="cliente.generoClienteFk==1">Femenino</td>
        <td *ngIf="cliente.generoClienteFk==2">Masculino</td>
      </tr>
    </tbody>
  </table>
